@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;

	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format("woff2");
	}

@font-face {
	font-family: "Rubik";
	font-weight: 500;
	font-style: normal;

	src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFU0UzdYPFkZVOA6w.woff) format("woff");
	}

@font-face {
	font-family: "Rubik";
	font-weight: 300;
	font-style: normal;

	font-display: swap;
	src: url(https://fonts.gstatic.com/s/rubik/v12/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFWkUzdYPFkZVOA6w.woff) format("woff");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
	}
