// fonts
$roboto: "Roboto", sans-serif;
$rubik: "Rubik", sans-serif;
$font-main-size: 14px;
$font-main-weight: 400;

//colors
$main-bg-color: #f2f2f2;
$sub-db-color: #fff;
$border-color: #e8ecef;
$font-main-color: #252631;
$tittle-color: #ffab2b;
$hover-bg: #f8fafb;
$sub-label-color: #98a9bc;
$sub-label-dark-color: #778ca2;
$bills-line-color: #4d7cfe;
