@mixin font-family($family, $size, $weight, $font-color) {
	color: $font-color;
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	}

@mixin container {
	display: flex;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 30px 0 30px;
	}
