doctype html
html(lang="en")
  head
    title Bank Page
    script(src="./Home.js")
  body
    main
      .page
        include ../../components/blocks/sidebar/sidebar
        .page__content
          include ../../components/blocks/header/header
          include ../../components/blocks/main-section/main-section
          include ../../components/blocks/footer/footer
